
    .roboto{
        font-family: 'Roboto', sans-serif;
    }

    .no-decoration{
        text-decoration: none;
    }

    .bold {
        font-weight: bold;
      }

    .letra-blanca{
          color: white;
    }

    .letra-oscura{
        color: rgb(29,29,31);
    }

    .letra-nuevo{
        color: #FF5722;
    }

    .letra-azul{

        color: rgb(0, 113, 227);
    }

    header{
        size: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 80px;
        background-color: rgba(0, 0, 0, 0.8);        
    }

    footer{
        padding-top: 10px;
        padding-bottom: 18px;
        padding-left: 80px;
        background-color: rgb(245, 245, 247);
    }

    .box-header {
        box-sizing: content-box;
        display: inline-block;
        text-align: center;
        padding-right: 10px;
        margin-top: 5px;
    }

    .box-footer {
        
        display: inline-block;
        text-align: center;
        padding-right: 10px;
    }

    .box-center {
        display: block;
        text-align: center;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 80px;
    }

    .box-laptop {

        display: block;
        size: 2px;
        padding-top: 60px;
        margin-bottom: 80px;
    }

    .img-laptop{
        width: 1000px;
    }

    .img-tools-cover{
        padding-top: 70px;        
        width: 400px;
        height: 200px;
    }

    .box-oferta1 {
        display: inline-block;
        width: 350px;
        height: 500px;
        text-align: center;
        margin-left: 180px;
        padding-top: 30px;
        padding-left: 70px;
        padding-right: 90px;
        background-color: rgb(242, 242, 242);
    }

    .box-oferta2 {
        display: inline-block;
        width: 350px;
        height: 500px;
        text-align: center;
        margin-left: 10px;
        padding-top: 30px;
        padding-left: 70px;
        padding-right: 90px;
        background-color: rgb(242, 242, 242);
    }

    .box-bottom {
        display: block;
        text-align: center;
        margin-top: 50px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 80px;
    }

    .has-margin-header{
        padding-left: 80px;
    }
   
    .has-margin-footer{
        border-left: 1px solid rgb(81, 81, 84);      
        padding-left: 10px;
    }

    .letra-footer {
        color: rgb(81, 81, 84);
    }

    .boton-comprar{
        padding-bottom: 20px;         
    }

    .boton-ver{
        padding-top: 40px;
        padding-bottom: 22px;
    }

    .btn{
        background:  rgb(0, 113, 227);
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        color: white;
        border: none;
        height: 30px;
        width: 80px;
    }

    

    